#container  {
  font-family: Georgia, serif;
  background-color: #f5f5dc;
  
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 20px;
  
  padding: 10px 150px 10px 150px;
}

#hrule  {3px solid brown;
}

h1{
  font-size: 60px;
}

h2{
  Margin-bottom: -10px;
}
h4{
  margin-bottom: -15px;
}

P{
  color: black;
 }
