#container  {
  font-family: Georgia, serif;
  background-color: #f5f5dc;
  
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 20px;
  
  padding: 10px 150px 10px 150px;
}

#content-contact {
  margin-bottom: 20px;
}

#hrule  {3px solid black;
}

h1{
  font-size: 60px;
}

h2{
  padding-bottom: 0;
}
h4{
  padding-bottom 5px;
}

P{
  color: black;
 }
